# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# Streamlit runtime files
streamlit.log
streamlit.pid

# IDEs
.vscode/
.idea/
